<div class="my-3">
<h4> Add a Todo</h4>
<form (ngSubmit)="OnSubmit()">
  <div class="mb-3">
    <label for="title" class="form-label">Todo Title</label>
    <input type="text" [(ngModel)]="title" class="form-control" id="title" name="title" aria-describedby="emailHelp">
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
  </div>
  <div class="mb-3">
    <label for="desc" class="Todo Description">Description</label>
    <input type="text" class="form-control" name="desc" id="desc"[(ngModel)]="desc">
  </div>
  <button type="submit" class="btn btn-primary">Add Todo</button>
</form>
</div>
